---
import Layout from "../layouts/index.astro";
import Button from "../components/Button/index.astro";
import logo from "../images/Vedarc-logo.png";

import "../layouts/styles/global.css";
---

<Layout title="Vedarc Coming Soon">
  <section class="hero">
    <div class="hero-text">
      <img class="logo" src={logo} alt="" />
      <h1>Digital <br /> transformation <br /> through cloud</h1>
      <div class="coming_soon"><Button label="Coming Soon" /></div>
    </div>
  </section>
</Layout>
