---
import Layout from "../layouts/index.astro";
---

<Layout title="Vedarc: Coming Soon">
  <main class="hero">
    <img
      alt="VedArc"
      class="logo"
      height="36"
      src="/images/logo.png"
      width="171"
    />
    <h1>
      Digital<br />
      transformation<br />
      through cloud
    </h1>
    <div class="button">Coming soon</div>
  </main>
</Layout>
