.vector_left {
  position: fixed;
  float: left;
  width: 15%;
}
.vector_right {
  position: fixed;
  float: right;
  width: 20%;
  margin-left: 80%;
  padding-top: 1%;
}
/* @media (min-width: 280px) {
  .vector_right {
    margin-left: 75%;
    padding-top: 5%;
  }
}
@media (min-width: 576px) {
  .vector_right {
    margin-left: 75%;
    padding-top: 5%;
  }
}

@media (min-width: 768px) {
  .vector_right {
    margin-left: 75%;
    padding-top: 5%;
  }
}
@media (min-width: 992px) {
  .vector_right {
    margin-left: 75%;
    padding-top: 5%;
  }
}
@media (min-width: 1200px) {
  .vector_right {
    margin-left: 75%;
    padding-top: 5%;
  }
} */
