:root {
  --color-primary: #0f172a;
  --color-secondary: #6b21a8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  background-color: #0f0922;
  overflow: hidden;
  justify-content: "center";
}
.logo {
  margin: 2%;
}

.coming_soon {
  align-items: center;
}
.hero {
  height: auto;
  padding: 30px;
  margin: 5%;
}

.hero-text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}

.hero h1 {
  font-size: 96px;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.hero h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Mulish", sans-serif;
}
.hero p {
  font-size: 24px;
  font-family: "Mulish", sans-serif;

  margin-bottom: 20px;
}

.coming_soon {
  margin: 5%;
  margin-top: 5%;
}

@media (min-width: 250px) {
  .hero h1,
  h2 {
    font-size: 30px;
    text-align: center;
  }
}
@media (min-width: 576px) {
  .hero h1,
  h2 {
    font-size: 40px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .hero h1,
  h2 {
    font-size: 50px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .hero h1,
  h2 {
    font-size: 60px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .hero h1,
  h2 {
    font-size: 70px;
    text-align: center;
  }
}
